.content {
    /*background-color: lightblue;*/
    /*flex-basis: 70%;*/
}

/*.content__bgImg {*/
/*    max-width: 100%;*/
/*}*/

.content__avatar img {
    display: block;
    border-radius: 100px;
    margin: -165px auto 0;
    box-sizing: border-box;
    cursor: pointer;
}

.content__btn {

}

.content__avatar__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2E3A59;
    margin: 0;
    text-align: center;
}

/*.content__bgImg__btn {*/
/*    display: flex;*/
/*    justify-content: end;*/
/*}*/

/*.content__avatar__btn {*/
/*    text-align: center;*/
/*}*/

.content__status {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ADD9E6;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.content__status h3, .content__status span {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #2E3A59;
}

.content__status span {
    color: #FFFFFF;
}

.content__status img {
    cursor: pointer;
    margin-left: 10px;
}

.content__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content__info div {
    margin-top: 20px;
}

.content__info div h4 {
    border-bottom: 2px solid #add9e6;
    padding-bottom: 3px;
    display: inline-block;
}
.content__info div p:last-child {
    margin-bottom: 0;
}

/*.content__info div button {*/
/*    padding: 10px 20px;*/
/*    background: #ADD9E6;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    color: white;*/
/*    font-weight: 700;*/
/*    font-size: 18px;*/
/*    line-height: 21px;*/
/*}*/

.content__info__title {
    width: 90px;
    display: inline-block;
}

.content__info h4 {
    margin: 0;
    border-bottom: 2px solid #add9e6;
    padding-bottom: 3px;
    display: inline-flex;
}

.content__info img {
    margin-left: 5px;
    cursor: pointer;
}