.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    background-color: #ADD9E6;
    padding: 0 20px;
    top: 0;
    z-index: 2;
}

.header h1 img {
    margin-right: 8px;
}

.header__logo {
    display: flex;
    align-items: center;
    font-family: 'Sen', sans-serif;
    text-align: left;
    color: #2E3A59;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
    padding: 10px 0;
}

.headerLogin {
    display: flex;
    align-items: center;
}