.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs__items {
    padding: 10px;
}

.dialogs__items .active {
    color: salmon;
}

.messages {
    padding: 10px;
}

.messages .message {

}

.dialog {

}